{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main class="meal_plan-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan_detail.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan_detail.id %}">Delete</a>
    </div>
    {% if meal_plan_detail.image %}
      <img src="{{ meal_plan_detail.image }}" class="pull-right">
    {% endif %}
    <h1>{{ meal_plan_detail.name }}</h1>
    <h2>by: {{ meal_plan_detail.author | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ meal_plans.created }} |
      Updated on {{ meal_plans.updated }}


    </div>
    <h2>Recipes for {{ tag.name }}</h2>
    {% for recipe in tag.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
